@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 dark:text-gray-50;
  }

  /* stroke-width: 2 is a browser default and can be overridden with class="stroke-1", class="stroke-2", etc. */
  svg {
    stroke-width: 2;
  }

  path,
  circle,
  ellipse,
  line,
  polygon,
  polyline,
  rect {
    stroke-width: inherit;
  }
}

@layer utilities {
  .base-width {
    width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-left));
  }

  .full-width {
    @apply relative left-2/4 right-2/4 -mx-[50vw] w-screen;
  }

  .full-width-reset {
    @apply left-0 right-0 mx-0 w-full;
  }

  .text-link,
  .text-highlight {
    @apply text-gray-900 dark:text-gray-50;
  }

  .text-link-invert,
  .text-highlight-invert {
    @apply text-gray-50 dark:text-gray-900;
  }

  .text-dimmed {
    @apply text-gray-500;
  }

  .bg-fxdb {
    @apply bg-primary dark:bg-secondary;
  }

  .text-fxdb {
    @apply text-primary dark:text-secondary;
  }
}
